<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Placemaster</title>
  <!-- Montserrat -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,700&display=swap" rel="stylesheet"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
  {% if logged_in %}
    <p>Welcome, {{ logname }}</p>
  {% endif %}

  {% block nav %}
    <p><a href="{{ url_for('login') }}">Log in</a></p>
    <p><a href="{{ url_for('logout') }}">Log out</a></p>
    <p><a href="{{ url_for('index') }}">Home</a></p>
  {% endblock %}

  {% block content %}

  <div>
  {% for message in get_flashed_messages() %}
      {{ message }}
  {% endfor %}
  </div>

  {% endblock %}
  <!-- React -->
  <script src="{{ url_for('static', filename='js/bundle.js') }}"></script>
</body>
</html>